.chart-canvas{
    position: relative;
    height:50vh;
    width:40vw;
    margin-top:10vh;
    margin-left: 5vw;
    border-color: black;
    border-style: solid;
    background-color: whitesmoke;
}