.tab-content{
    float: left;
    background-color: whitesmoke;
    color: black;
    border: 0px ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 0.5%;
    padding-top: 0.5%; 
    padding-left: 2%; 
    padding-right: 2%; 
}

