
.logo-title {
    &:hover {
        color: #ffffff;
    }
}

.container.search-container {
    flex-flow: row wrap;
    display: flex;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    width: auto;
    margin-right: 0;
}

.navbar {
    z-index: 50;
    background-color: rgb(31, 31, 31);
}

.search-bar {
    width: unset;
}

.search-overlay {
    background-color: rgba(30,30,30, 0.9);
    padding: 20px;
    color: white;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    top: 0;
    transform: translateY(-100vh);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    &.active {
        transform: translateY(0);
        opacity: 1;
    }
}