.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

body {
  background-color: #282c34;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(4px + 2vmin);
  color: white;
}

.header-element{
  align-items: baseline;
  min-height: 4vh;
}

.App-link {
  color: #09d3ac;
}

.page-container {
  color: white;
}

.page {
  height: 80vh;
}
