.map-container {
    height: 83vh;
}

.loading {
    position: absolute;
    bottom: 50%;
}

.image-marker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 11px;
    font-family: "Arial" , sans-serif;
    font-weight: bold;
}

.image-container {
    position: absolute;
    text-align: center;
    color:black;
    left: -10px;
    top: -10px;
}
  
// .control-panel{
//     text-align: center;
//     font-family: "Arial" , sans-serif;
//     font-weight: bold;
//     position: absolute;
//     background-color: white;
//     width: 15vw;
//     height: 30vh;
//     top: 8px;
//     right: 16px;
// }

.control-panel {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 320px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    padding: 12px 24px;
    margin: 20px;
    font-size: 13px;
    line-height: 2;
    color: #6b6b76;
    outline: none;
    text-transform: uppercase;
  }

.dropdown{
    position: absolute;
    margin-top: 3vh;
    left: 10%;
}
