.map-container {
    height: 100%;
    position: relative;
}

.loading {
    position: absolute;
    bottom: 50%;
}

.image-marker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 11px;
    font-family: "Arial" , sans-serif;
    font-weight: bold;
}

.image-container {
    position: absolute;
    text-align: center;
    color:black;
    left: -10px;
    top: -10px;
    cursor: pointer;
}
  
.map-buttons-container{
    margin-top: 15vh;
}

.control-panel {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 50px;
    max-width: 20vw;
    padding: 12px 12px;
    margin: 20px;
    font-size: 13px;
    line-height: 2;
    color: #38383f;
    outline: none;
    text-transform: uppercase;
  }

.dropdown{
    display: inline-block;
}
