.map-container {
    height: 83vh;
}

.loading {
    position: absolute;
    bottom: 50%;
}

.image-marker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 11px;
    font-family: "Arial" , sans-serif;
    font-weight: bold;
}

.image-container {
    position: absolute;
    text-align: center;
    color:black;
    left: -10px;
    top: -10px;
}
  